<a href="https://colab.research.google.com/github/hotdrinkbrian/root/blob/master/test_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import sklearn as skl

In [0]:
Train = pd.read_csv('sample_data/california_housing_train.csv')
Test = pd.read_csv('sample_data/california_housing_test.csv')

In [7]:
a = { 'a':[1,2,3],
    'b':[4,5,6]}
df = pd.DataFrame(a)

Test.head(4)

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0

[4 rows x 9 columns]

In [4]:
df

   a  b
0  1  4
1  2  5
2  3  6